:root {
  --transparent-a0: rgba(0, 0, 0, 0);
  --default-al: #9e5bab;
  --default-a2: #d771eb;
  --black-al-1: #616161;
  --black-al-2: #222222;
  --black-a1-3: #000000;
  --gray-a1-1: rgb(209, 209, 209);
  --gray-a1-2: rgb(100, 100, 100);
  --red-a1-1: rgb(185, 0, 0);
  --white-al-1: #fff;
  --white-al-2: rgba(255, 255, 255, 0.7);
  --white-al-3: #f8f7fda8;
  --blue-a1-1: rgb(0, 170, 255);
  --pink-a1: rgb(255, 105, 180);
  --pink-a2: rgb(255, 182, 203);
  --pink-a3: rgb(255, 205, 180);
  --pink-a4: rgb(255, 127, 80);
  --pink-a5: rgb(255, 255, 224);
  --orange-al: #d26e4b;
  --hight-header-top: 80px;
  --hight-header-nav: 50px;
  --hight-header: calc(var(--hight-header-nav) + var(--hight-header-top))
}



/*chia trang*/
.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(160px, auto) auto;
  grid-template-areas:
    'header '
    'main '
    'footer ';
  column-gap: 20px;
  row-gap: 0px;
}

.page-header {
  grid-area: header;
}

.page-leftbar {
  grid-area: leftbar;
}

.page-main {
  grid-area: main;
}

.page-footer {
  grid-area: footer;
}

.content {
  color: #242424;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 0 10px;
}



/*header*/
#myHeader .navbar {
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--transparent-a0);
  transition: background-color 0.3s ease-in-out;
}

#myHeader .navbar.scrolled {
  padding: 0;
  margin: 0;
  background-color: var(--white-al-1);
}
#myHeader .navbar.scrolled svg{
  color: var(--black-a1-3);
}
#myHeader .big__icon svg {
  color: var(--red-a1-1);
}
#myHeader .big__icon.scrolled svg {
  color: var(--black-a1-3);
}

#myHeader {
  width: 100%;
  position: fixed;
  z-index: 99;
}
#myHeader .header-menu {
  background-color: var(--transparent-a0);
  transition: background-color 0.3s ease-in-out;
}

#myHeader .header-menu.scrolled {
  background-color: var(--black-al-1);
}

#myHeader .header-menu.scrolled .menu_item-btn{
  border-top: none;
  border-bottom: none;
}
#myHeader .header-menu.scrolled .menu_item-btn .menu_btn a{
  border-left: 1px solid var(--white-al-1);
  color: var(--white-al-1);
}
#myHeader .header-menu.scrolled .home .menu_btn a{
  border-left: none;
}
.page-header{
  width: 100%;
  position: relative;
  z-index: 99;
}
 .navbar {
  padding: 0;
  margin: 0;
  background-color: white;
}

 .navbar svg {
  color: var(--black-a1-3);
}
 .header-menu {
  background-color: black;
}
.icon svg{
  color: var(--black-a1-3);
}

.content-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  margin: 0;
  padding: 0;
}

.header__logo {
  margin: 10px;
  margin-left: 150px;
}

.header__search {
  flex: 1;
  margin-right: 60px;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-wrap {
  background-color: var(--white-al-1);
  width: 750px;
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px;
}

.header__search-input {
  border: none;
  width: 700px;
}

.header__search-input:focus {
  outline: none;
  border: none;
}



/*cart*/
.header__cart {
  position: relative;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
}


.header__cart:after {
  content: "";
  width: 25px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 10px;
}



/*cart dropdown*/
.header__cart-dropdown {
  position: absolute;
  top: 100%;
  right: 4px;
  width: 290px;
  height: 500px;
  overflow-y: scroll;
  background-color: rgb(245, 237, 238);
  padding: 12px 0px 12px 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transform-origin: top right;
  will-change: transform, opacity;
  animation: ScaleTopRight ease-in 0.35s;
  display: none;
}

.header__cart.cart:hover .header__cart-dropdown {
  display: block;
}

.header__cart-dropdown::before {
  border: solid;
  border-color: rgb(245, 237, 238) transparent;
  top: -10px;
  content: "";
  right: 4%;
  position: absolute;
  z-index: 99;
}


/*cart list*/
.cart-item {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
}

.cart-list {
  padding: 0;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  cursor: default;
  width: 256px;
}

.cart-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}



.cart__item.text {
  width: 250px;
  text-decoration: none;
  overflow: hidden;
  /* Ẩn nội dung vượt quá kích thước */
  display: flex;
  align-items: start;
  justify-content: start;
}

.main-name {
  color: var(--black-al-2);
  width: 175px;
  display: flex;
  align-items: start;
  justify-content: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.cart__item.icon {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-left: 50px;
}

.main-name a {
  color: var(--black-al-1);
  display: flex;
  align-items: start;
  justify-content: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.main-name:hover a {
  color: var(--orange-al);
}
.main-price {
  color: var(--black-al-2);
  width: 175px;
  display: flex;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order-delete svg {
  font-weight: 400;
  color: var(--black-al-1);
}

.order-delete:hover svg {
  color: var(--orange-al);
}

.header_icon svg {
  font-weight: 400;
  color: var(--black-a1-3);
}

/*button cart*/

.cart-btn {
  width: 260px;
  height: 50px;
  background-color: var(--default-al);
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid var(--blue-a1-1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-btn a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.cart-btn:hover a {
  text-decoration: none;
  color: var(--black-a1-3);
  font-size: larger;
}

.cart-btn:hover {
  background-color: aqua;
  color: black;
}

.orange {
  background-color: #d26e4b;
}



/*avatar*/
.header__acc {
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.header__acc:after {
  content: "";
  width: 25px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.header__acc-icon .iconAcc {
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



/*avatar dropdown*/
.header__acc-dropdown {
  position: absolute;
  top: 100%;
  right: 4px;
  width: 140px;
  height: 80px;
  background-color: rgb(245, 237, 238);
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transform-origin: top right;
  will-change: transform, opacity;
  animation: ScaleTopRight ease-in 0.35s;
  display: none;
}

.header__acc.acc:hover .header__acc-dropdown {
  display: block;
}

.header__acc-dropdown::before {
  border: solid;
  border-color: rgb(245, 237, 238) transparent;
  top: -10px;
  content: "";
  right: 4%;
  position: absolute;
  z-index: 99;
}

/*avatar list*/
.acc_btn:hover {
  opacity: 0.7;
  transition: all 0.3s;
  background-color: var(--orange-al);
  color: black;
}

.acc_btn {
  width: 130px;
  height: 25px;
  background-color: var(--default-a2);
  border: 2px solid var(--blue-a1-1);
  color: var(--white-al-1);
  text-transform: uppercase;
  border-radius: 50px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.acc_item {
  display: flex;
  font-size: small;
  align-items: center;
  justify-content: center;
}

.acc_list {
  padding: 0px;
  margin: 0px;
  justify-items: center;
}

.acc_btn a {
  width: 130px;
  height: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.header__acc {
  margin-right: 150px;
}






/*menu*/
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.menu {
  width: 50%;
  height: 50px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}






/*menu dropdown*/
.menu_item-dropdown {
  position: absolute;
  width: auto;
  background-color: var(--white-al-1);
  padding: 5px 5px;
  border: 1.5px solid var(--blue-a1-1);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transform-origin: top left;
  will-change: opacity transform;
  animation: fadeInScale linear 0.3s;
  display: none;
  text-align: start;
  flex-wrap: wrap;
  z-index: 99;
}

.menu_item-btn:hover .menu_item-dropdown {
  display: flex;
}

.menu_btn a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  color: var(--default-al);
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.menu_btn {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_list {
  padding: 0;
  margin: 0;
}

.menu_item-btn {
  border-top: 1px solid var(--gray-a1-2);
  border-bottom: 1px solid var(--gray-a1-2);
  border-left: 1px solid var(--gray-a1-2);
  list-style-type: none;
  height: 50px;
}

.menu_item-btn:hover .menu_btn {
  background-color: var(--white-al-3);
}

.menu_item-btn:hover .menu_btn a {
  color: var(--default-al);
}

.menu_item {
  width: 200px;
}

.menu_item-link {
  width: max-content;
}

.menu_item-link:hover {
  color: var(--orange-al);
  background-color: rgba(0, 0, 0, 0.1)
}

.menu_item-link {
  width: 176px;
  padding: 14px 12px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  font-size: medium;
  white-space: nowrap;
  width: inherit;
}

.menu_list li {
  list-style-type: none;
}




/*-----------------Login--------------------*/

.bd-login {
  background: url(https://i.postimg.cc/NFBcmhqG/my-pham.jpg);
  background-attachment: fixed;
  /*giup k cuon di*/
  background-position: center center;
  /*can giua theo ngang va doc*/
  background-repeat: no-repeat;
  /*giup k lap anh*/
  background-size: cover;
}

.login-custom .container-login {
  height: 100%;

}

.login-custom .contain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.login-custom .contain-card {
  width: 40%;
}

.login-custom .card {
  border-radius: 10px;
  border: 1px solid var(--black-a1-3);
  backdrop-filter: blur(10px);
  /*lam mo*/
  background-color: var(--transparent-a0);
  /*doi mau trong suot*/
}

.login-custom .card-body {
  padding: 50px;
  text-align: center;
}

.login-custom .container-form {
  margin-top: 25px;
  margin-bottom: 50px;
}

.container-form .form-text {
  font-size: xx-large;
  font-weight: bold;
  color: var(--black-a1-3);
  margin-bottom: 50px;
  text-transform: uppercase;
}

.container-form .btn-lg {
  border: 2px solid var(--black-a1-3);
  border-radius: 10px;
  background-color: var(--white-al-1);
  color: var(--black-a1-3);
  padding: 8px 16px;
  font-size: large;
  text-transform: uppercase;
}

.btn-lg:active {
  border: 2px solid var(--blue-a1-1);
  border-radius: 10px;
  background-color: var(--white-al-2);
  color: var(--blue-a1-1);
  text-align: center;
  justify-content: center;
}

.contain-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contain-icon a {
  padding: 0px 4px;
  margin: 0px 12px;
  color: var(--black-a1-3);
}

/*------------------------------------------*/







/*-----------------Home-----------------*/


/*------------------------------------------*/











/*-----------------Carousel-----------------*/

.main {
  margin-top: 0;
}

.main__slice {
  overflow: hidden;
  position: relative;
}

.main__slice .slider {
  width: 100%;
  height: 600px;
}

.main__slice .slider::before,
.main__slice .slider::after {
  display: none;
}

.main__slice .slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  display: none;
  padding: 0 15px;
  animation: slide 6s ease;
  height: 100%;
}



@keyframes slide {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


/*chu trong slide*/
.container-text {
  max-width: 1170px;
  margin: auto;
}

.main__slice .caption {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main__slice .caption.right {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: end;
}


.main__slice .caption h1 {
  color: var(--white-al-1);
  margin: 0;
}

.main__slice .caption p {
  margin: 15px 0 30px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
}

.main__slice .caption a {
  display: inline-block;
  color: var(--white-al-1);
  border: 1.5px solid var(--white-al-1);
}
.main__slice .caption .outline-black {
  display: inline-block;
  color: var(--white-al-1);
  border: 1.5px solid var(--black-a1-3);
}
/*nut chuyen slide*/
.main__slice .controls .prev,
.main__slice .controls .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 3px;
  font-size: 4px;
  cursor: pointer;
  transition: all .5s ease;
}

.main__slice .controls .prev svg,
.main__slice .controls .next svg {
  font-weight: bolder;
}

.main__slice .controls .prev:hover,
.main__slice .controls .next:hover {
  color: var(--default-al);
}

.main__slice .controls .prev {
  left: 0;
}

.main__slice .controls .next {
  right: 20px;
}

.slide-in h1 {
  opacity: 0;
  animation: slide-in .5s ease-out forwards;
  animation-delay: 1.5s;
}

.slide-in p {
  opacity: 0;
  animation: slide-in .5s ease-out forwards;
  animation-delay: 1.7s;
}

.slide-in a{
  opacity: 0;
  animation: slide-in .5s ease-out forwards;
  animation-delay: 2s;
}

/*chu chay vao*/
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*------------------------------------------*/




/*-----------------Category-----------------*/
.tabs .tabs_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs .tab_title-item {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  color: var(--red-a1-1);
  text-decoration: none;
  font-weight: 500;
  border: none;
}

.tabs_contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs .tab_text-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  color: var(--red-a1-1);
  text-decoration: none;
}

.line {
  height: 3px;
  width: auto;
  background-color: var(--red-a1-1);
  margin: 50px 100px 100px 100px;
}

.tabs .row {
  width: 1015px;
  display: flex;
}

.tabs .owl-carousel{
  height: 280px;
  padding: 0 5px;
}
.tabs .product-col {
  flex-basis: 20%;
  box-sizing: border-box;
  height: 280px;
  padding: 2.5px 0px;
}

.tabs .product {
  width: inherit;
  height: 275px;
  border: 1px solid var(--white-al-1);
  border-radius: 10px;
  background-color: var(--white-al-2);
  display: block;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 99;
  padding: 10px 0;
}

.tabs .product:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.product .product-link {
  color: var(--black-a1-3);
  text-decoration: none;
}

.tabs .product-img {
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.product-info {
  padding: 12px;
}

.product-name {
  font-size: medium;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.product-price {
  font-size: medium;
  display: flex;
  justify-content: space-between;
}

.price-new {
  font-weight: 500;
  animation: price-new 1s infinite;
}

@keyframes price-new {
  0% {
    color: var(--orange-al);
    scale: 1;
  }

  25% {
    scale: 1.2;
  }

  50% {
    color: var(--default-a2);
    scale: 1;
  }

  75% {
    scale: 1.2;
  }

  100% {
    color: var(--orange-al);
    scale: 1;
  }
}

.price-old {
  display: inline-block;
  position: relative;
}

.price-old::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0%;
  height: 2px;
  background-color: black;
  animation: price-old 2s infinite;

}

@keyframes price-old {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}




.product-sale {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 32px;
  border: solid;
  border-width: 0 19px 5px 19px;
  border-color: var(--transparent-a0) #f8d133;
  z-index: 4;
  border-top-right-radius: 10px;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.product__sale-text {
  position: absolute;
  font-size: 13px;
  color: var(--red-a1-1);
  line-height: 13px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  left: -16px;
}

.product__sale-percent {
  position: absolute;
  font-size: 13px;
  color: var(--red-a1-1);
  line-height: 13px;
  top: 13px;
  display: block;
  align-items: center;
  text-align: center;
  left: -10px;
}

.product .viewDetail,
.product .addToCart {
  position: absolute;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  width: 90%;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: large;
  text-align: center;
  color: var(--white-al-1);
  text-decoration: none;
  text-transform: uppercase;
}

.product .viewDetail {
  top: 15%;
}

.product .addToCart {
  top: 40%;
  border: none;
}

.product .viewDetail:hover,
.product .addToCart:hover {
  color: var(--orange-al);
  transform: all 0.3s;
  background-color: rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.product:hover .viewDetail,
.product:hover .addToCart {
  display: block;
}
/*------------------------------------------*/

/*---------------thuong hieu----------------*/
.main-bands {
  background-color: var(--white-cl-);
  width: 1530px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain-bands{
  width: 60%;
  height: inherit;
  display: flex;
  justify-content: center;
}
.owl-carousel{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.band-img {
  display: block;
  padding-top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}



/*------------------------------------------*/


/*------------------Footer------------------*/
#myTable {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  backdrop-filter: blur(10px);
}

#myTable td {
  border: 0px solid;
  padding: 35px;
  text-align: center;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  border: 0px solid white;
}

#myTable2 {
  width: 100%;
  height: 200px;
}

#myTable2 td,
th {
  border: 0px solid;
  padding: 5px;
  text-align: left;
  padding-left: 400px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  background-color: #5d5a5a;
  color: white;
}

#linkk {
  cursor: pointer;
  color: black;
  text-decoration: none;
  margin-top: 100px;
}

#linkk:hover {
  color: white;
}

.page-footer a {
  margin-right: 20px;

}

#linkkk {
  text-decoration: none;
  color: white;

}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background: transparent !important;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;

}

#scrollBtn:hover {
  background-color: #555;
}

/*------------------------------------------*/