<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server =MSI\SQLEXPRESS; database=TRUONGHOC1; UID=sa; PWD=303204;connect timeout=102400; pooling='true'; Max Pool Size=300; &#xD;&#xA;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
